@import url("html5reset-1.6.1.css");
@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
  box-sizing: border-box;
   
}

body {
  color: #5F4413;
  font-family: 'Poppins', sans-serif;
   line-height: 1.5;
 
}

p{
 margin-top: 1.5rem;
 margin-bottom: 1.5rem;
  word-spacing: 0.25em;
}

h1 {
font-size: 2rem;
margin-top: 2rem;
padding-left: 1rem;
margin-left: -1rem;
margin-right: -1rem;
 line-height: 1.5;
 margin-bottom: 1rem;
 font-weight: bold;
    background-color: #F8CC7D;
      border-radius: 1rem;
       word-spacing: -0.125em;
}

h2 {
   word-spacing: -0.125em;
    font-size: 1.5rem;
    margin-top: 2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-weight: bold;
}

blockquote {
  margin:1.5rem;
  
}

/*navbar*/
.brand {
    font-size: 1.5em;
    font-weight: 700;
    color: #F8CC7D;
    
    /* padding: 1em; */
    margin: 0em 2em;
	   
}

nav {

}

a {
  text-decoration: none;
 color: #5F4413;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 1.5em 0;
    padding: 0px;
    
    background: url(../images/topbanner.jpg);
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    /* height: 96px; */
    border-radius: 1rem;
} 

a li{
   background-color: #F8CC7D;
    opacity: .9;
    display: flex;
    padding: 3rem;
     margin: 2rem 0 2rem 4rem;

    justify-content: center;
    border-radius: 1rem;
    width: 10rem;
}

a li:hover{
  opacity: 1;
}

/* Main wrapper for grid */
.row {
 /* font-family: monospace; /* for spacing columns correctly */
  letter-spacing: -.65em; /* this too */
  margin-left: -1em;
  margin-right: -1em;
  text-align: left; /* center or justify for columns in last row */
  display: flex;
  flex-wrap: wrap;
}

/* Individual columns */
[class*="col-"]{
  /* be sure to reset the font and letter-spacing */
  letter-spacing: normal;
 
  
  position: relative;
  float: none;
  text-align: left;
 
  box-sizing: border-box;
  
/* gutter */
padding: 3em;
  /*
  background: #C4B79E;;
  border: 2rem solid white;*/
  overflow-wrap: break-word;
  word-wrap: break-word;
  }

  img {
width: 100%;
height: 100%;
object-fit: cover;
   display: block;
padding: 1.5rem 0 1.5rem 0;
  }

@media all and (min-width: 992px) {
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}

@media all and (min-width: 768px) and (max-width: 991px) {
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
}

@media all and (max-width: 767px) {
.col-sd-1 {width: 8.33%;}
.col-sd-2 {width: 16.66%;}
.col-sd-3 {width: 25%;}
.col-sd-4 {width: 33.33%;}
.col-sd-5 {width: 41.66%;}
.col-sd-6 {width: 50%;}
.col-sd-7 {width: 58.33%;}
.col-sd-8 {width: 66.66%;}
.col-sd-9 {width: 75%;}
.col-sd-10 {width: 83.33%;}
.col-sd-11 {width: 91.66%;}
.col-sd-12 {width: 100%;}
}
